* {
  box-sizing: border-box;
}
.container > * > a {
  text-decoration: none;
  color: black;
}

.section-header img {
  width: 30px;
}
.nav-bar {
  display: flex;
}
.nav-bar > img {
  margin-top: 23px;
  margin-left: 12px;
}
.eat-cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 15px;
}

.helper-block {
  width: fit-content;
  border-radius: 12px;
  margin-top: 20px;
}

.helper-block-text {
  font-size: 32px;
  width: 100%;
  padding-inline: 16px;
  padding-block: 16px;
  font-weight: bold;
}

.container {
  display: flex;
  gap: 15px;
}

.input-name:focus {
  outline: 2px solid orange;
}

.input-name {
  margin: 3px;
  height: 38px;
}

.element {
  background: orange;
  padding: 10px;
}

.parent {
  display: flex;
}

/* Footer */
.footer {
  padding-top: 49px;
  padding-bottom: 20px;
  background: #fb7718;
  color: white;
  width: 100%;
  margin-top: 100px;
  padding-bottom: 50px;
  flex-shrink: 0;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-col {
  max-width: 350px;
  flex-grow: 1;
}

.footer-copyright {
  display: flex;
  align-items: center;
  color: #000000;
  line-height: 1.3;
}

.footer-coppyright-name {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-copyright p {
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-icons p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  margin-top: 8px;
}

.footer-icons-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons-row > * + * {
  margin-left: 30px;
}
.footer-icons-row > * {
  filter: invert(60%) sepia(84%) saturate(179%) hue-rotate(174deg) brightness(88%) contrast(85%);
}

.footer-contacts {
  display: flex;
  justify-content: right;
  align-items: center;
}

/*Media requests*/
@media (max-width: 1069px) {
  .footer-coppyright-name {
    font-size: clamp(15px, 2.5vw, 25px);
  }

  .footer-icons p {
    font-size: clamp(10px, 2vw, 18px);
    margin-top: 4px;
  }

  .footer-contacts a {
    font-size: clamp(7px, 1.5vw, 18px) !important;
  }

  .footer-icons-row img {
    width: 30px;
  }
}

.footer-icons-row img {
  width: 20px;
}

.section-header {
  font-size: 30px;

  .footer-copyright {
    width: 80px !important;
  }
}
